<div class="container">
  <header>
    <h3 class="title">{{model.name}}</h3>
    <div class="row">
      <div class="year">Founded In: {{model.foundingYear}}</div>
      <div class="location">Location: {{model.based_in}}</div>
      <div class="totalSold">Total Albums Sold: {{model.totalAlbumsSold}}</div>
    </div>
  </header>
  {{collection-list model=model.albums class="albums"}}
</div>
