<div class="container">
  <header>
    <h3 class="title">{{model.name}}</h3>
      <div class="year">Founded In: {{model.foundingYear}}</div>
      <div class="location">Location: {{model.based_in}}</div>
      <div class="totalSold">Total Albums Sold: {{model.totalSold}}</div>
  </header>
  {{collection-list model=model.albums componentName="album-detail" sortBy="year" class="albums stretch-right"}}
</div>
